/Curso html5
/exercicios.html
/exercicios2.html
/index.js
/node_modules
/operadoresbasicos.html
/package-lock.json
/package.json
/Primeirosite.html
/primeirosite.json
/TAGS MAIS UTILIZADAS EM HTML
/tagsmaisutilizadas.html